{% load static %}
<html>

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
    .fas {
      line-height: 24px;
    }
  </style>
</head>

<body>
  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">The Hockey API</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Pull up to date information hockey data ranging from boxscores, teams, records, etc. with
        this simple REST API. We provide regularly updated data from all NHL games, and are looking to expand to include
        data for leagues other than the NHL in the future.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a href="/docs/" class="btn btn-primary btn-lg px-4 me-sm-3">View Docs</a>
        <a href="#project-roadmap" class="btn btn-outline-secondary btn-lg px-4">Roadmap</a>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 40vh;">
      <div class="container px-5">
        <img src="{% static 'hockey_api/screenshot-2.png' %}" class="img-fluid border rounded-3 shadow-lg mb-4"
          alt="Example image" loading="lazy" width="700" height="500">
      </div>
    </div>
  </div>
  <div class="px-4 pt-5 my-5" id="project-roadmap">
    <h2 class="display-7 fw-bold text-center">Project Roadmap</h2>
    <div class="col-lg-6 mx-auto">
      <ul class="list-group">
        {% for item in roadmap %}
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-1">
              <i class="{{ item.icon_class }}"></i>
            </div>
            <div class="col">{{ item.name }}</div>
            {% if item.details %}
            <div class="col-md-4 text-end fst-italic text-muted">Updated Daily</div>
            {% endif %}
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</body>

</html>